<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>ACTIVITIES</title>
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <div class="edge">
            <aside>
                <div id ="aside">
                    <span id= "font1">
                        멋사 10기 배지윤</span>
                    </div>
            </aside>
            <section>
                <div id ="section1">
                    <br><br><br>
                    <span id="font2">Web Service 소개</span><br><br>
                    <span id="font3">기획 서비스</span>&nbsp;
                    <span id="font4">
                        OTT program 추천 & service 관리 웹서비스
                    </span><br><br>
                    <span id="font3"> 기획 목적</span>&nbsp;
                    <span id="font4">요즘 워낙 많은 OTT 산업이 발달하여 종류가 많아진 만큼, 
                        내가 보고 싶은 프로그램이 있는지 없는지 일일이 찾기보다는 웹사이트에서 쉽게 검색하여 찾고자 한다.
                        그리고 최근 드라마, 영화, OTT 오리지널 콘텐츠 등의 유행의 변화가 빠른 만큼, 
                        정보의 홍수에서 허우적대는 사람들을 위해 유행에 빠르게 따라갈 수 있도록 도와준다.
                    </span><br><br>
                    <span id="font3">기대 효과</span>&nbsp;
                    <span id="font4">OTT 별로 자신이 볼 프로그램과 구독 결제를 관리하고 추천받을 수 있다. </span><br><br>
                </div>
                <div id ="section1"><br><br>
                    <span id="font5">제공할 기능</span>&nbsp;&nbsp;&nbsp;
                    <span id="font4"><br>
                        [1] 다양한 OTT 프로그램의 특색 있고, 찾아보기 힘든 프로그램까지 정리해서
                        추천해 주는 서비스<br>
                        [2] 내 OTT 구독 결제 관리 시스템<br>
                        [3] 나만 알기 아쉬운 OTT 콘텐츠를 홍보할 수 있는 게시판<br>
                        [4] 자신이 OTT 별로 본 프로그램들을 정리해두고 후기도 남겨서 나중에 찾아보기 위함과 
                        다른 사람들에게 자동으로 콘텐츠를 알리게 해주는 기능
                    </span><br><br>
                    <span id="font5">주요 고객층</span>&nbsp;&nbsp;&nbsp;
                    <span id="font4">
                        20-30 MZ세대 / OTT를 즐겨보는 사람들
                    </span><br>
                </div>
            </section>

        </div>
    </body>
</html>